@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(217, 186, 216);
}

.navbar-dark .navbar-brand {
  font-family: 'Acme', sans-serif;
  color: rgb(191, 0, 255);
  font-weight: 900;
  font-size: 2em;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  width: 30%;
  margin: auto;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .description {
    white-space: pre-wrap;
  }
}

.navbar-nav > li{
  padding-left:11px;
  padding-right:11px;
}

.flip-card {
  background-color: transparent;
  font-family: 'Acme', sans-serif;
  align-items: center;
  width: 325px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 325px;
  height: 400px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 325px;
  height: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}

.flip-card-front {
  background-image: url("https://i.pinimg.com/originals/2f/6d/40/2f6d406d481f6a1ad0f459adc616868a.jpg");
  color: white;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: black;
  align-content: center;
  font-size: 75px;
  padding-top: 50px;
  text-align: center;
}

.flip-card-back {
  color: black;
  font-size: large;
  background-color: white;
  transform: rotateY(180deg);
  font-size: 20px;
  border: 3px;
  padding: 10px;
}

hr {
  background-color: aqua;
}
